<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%-5level] [%logger{36}] [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 ERROR 日志 -->
    <appender name="file—error"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] [%-5level] [%logger{36}] [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty">
        <level value="warn" />
    </logger>

    <logger name="apus">
        <level value="info" />
    </logger>

    <root level="warn">
        <appender-ref ref="stdout" />
        <appender-ref ref="file—error" />
    </root>

</configuration>