<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%5level] [%logger{36}] [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty">
        <level value="warn" />
    </logger>

    <logger name="apus">
        <level value="debug" />
    </logger>

    <root level="warn">
        <appender-ref ref="stdout" />
    </root>

</configuration>